body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}

main {
    flex: 1; /* pushes footer down */
    align-content: center;
    
}

.bond-polarity-title{
    display: block;          /* header is inline by default, this fixes that */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-align: center;      /* now works since width is 100% */

}

.project-overview{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}

.para{
    font-weight: 600;
}

#game-overview, #gratitude-para, #long-congrats{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600px;
    padding-left: 200px;
    padding-right: 200px;

}

#question-title{
    text-align: center;

}

#question-words{
    text-align: left;
    padding-left: 100px;

}
/* QUESTION 01*/
#q1-option-a, #q1-option-b, #q1-option-c, #q1-option-d{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: fit-content;

}


#molecule-boxes{
    
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

#restart-button, #home-button{
    
}

#next-question-button{
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: large;
}
.btn{
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: large;
    
}

footer{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}